/*

This file contains the common CSS that is applied site-wide.

I am working on making this more consistent and reducing the number of site-specific CSS classes we have. 
 1. The new naming format is all lower case with dashes between words.
 2. Where possible, we should to apply a CSS class name rather than build a chained selector with several id's, classes, tags, etc
 3. Sections are commented with an index at the top to make it a little easier to find things


Sections
	 S1. Common Elements
	 S2. Errors
	 S3. Page Container
	 S4. Page Header
	 S5. Content Area
	 S6. Right Sidebar
	 S7. Left Content Area
	 S8. Blog Post Formatting
		S8A. Blog Post Layout
		S8B. Blog Post Content Formatting
		S8C. Blog Post Comments
		S8D. Blog Post Syntax Highlighting
	 S9. Page Footer
	S10. Search Box
	S11. Account Page
	S12. 404 Page
	S13. Debug
	S99. Misc Entries
*/


/*********************************************************
S1. Common Elements
**********************************************************/
	body {
		font: 10pt Verdana, Arial;
		background-color: #bac2ae;
		background-image: url("../images/back_gradient.jpg");
		background-repeat: repeat-x;
		color: #2f2f2f;

	}

	h1, h2, h3, .pgsttl {
		/*font-family: times, georgia;*/
		font-weight: normal;
		padding-bottom: .1em
	}

	a {
		color: #C04623;
		text-decoration:none;
	}
	a:hover {
		color: #6A755E;
		text-decoration:underline;
	}
	a:visited {
		color: #C04623;
	}

	blockquote {
		background-color:#EaF2De;
		border: 1px dashed #6A755E;
		margin: .5em 1em;
		padding: 1em;
	}
	
	p {
		line-height: 1.5em;
		margin: .5em 0;
	}

/*********************************************************
S2. Errors
**********************************************************/

	.php_error, .php_warning, .php_notice{
		border: 2px solid #880000;
		background-color: #FFAAAA;
		padding: 2px;
	}
	.php_error table, 
	.php_warning table, 
	.php_notice table{
		margin: 10px 4px 4px 40px;
	}
	.php_error table td, 
	.php_warning table td, 
	.php_notice table td{
		padding: 0px 4px;
	}
	.php_error table caption, 
	.php_warning table caption, 
	.php_notice table caption{
		text-align: left;
		font-weight: bold;
	}


/*********************************************************
S3. Page Container
**********************************************************/

	#contain{
		/*max-width: 940px;*/
		max-width: 1200px;
		min-width: 770px;
		margin: 0px auto;
	}
	#subcontain{
		border: 1px solid #666666;
		margin: .5em 10px;
	}
	/*#contain{
		max-width: 1040px;
		min-width: 750px;
		margin: .5em auto .5em auto;
		border: 1px solid #666666;
	}*/

/*********************************************************
S4. Page Header
**********************************************************/

	/* LTD Header section */
	#hdr{
		min-height: 90px;
		position: relative;
		padding: .5em;
	/*	margin-top: .5em;*/
	}
	#logoc{
		position: absolute;
		top: 15px;
		left: 10px;
		text-align: center;
		height: 69px;
		padding-left: 3px;
		/*background-color: #3E3E3E;*/
	}
	#ttl{
		background-color: white;
		/*max-width: 940px;*/
		min-width: 750px;
		/*margin-left: 75px;*/
		clear: both;
	}
	#ttl #snav{
		float: right;
		max-width: 200px;
		text-align: right;
	}
	#ttl h1{
		color: #2f2f2f;
		font-size: 30px;
		text-align: center;
		padding: 0em;
		margin: 15px 200px 10px 200px;
	}
	#ttl .pgsttl{
		font-size: 1.5em;
		margin: 0.4em 13em 0.2em 13em;
		text-align: center;
	}
	#nav{ 
		background-color: #2f2f2f;
		padding-left: 10px;
		height: 29px;
		display: block;
	}
	#nav ul {margin: 0px; padding: 0em 0px; list-style-position: normal; list-style-type: none;}
	#nav li{
		float: left;
		margin: 0px;
		background-repeat: no-repeat;
		background-position: right 9px;
	}
	#nav a{
		display: block;
		text-align: center;
		width: 92px;
		padding: .5em .5em .5em 1.5em;
		font-size: 1em;
		color: white;
		text-decoration: none;
		border-left: 1px solid #bac2ae;
		overflow: hidden;
		white-space: nowrap;
	}
	#nav .cur a{
		background-color: #4f4f4f;
	}

	#nav #h{	background-image: url("../images/ico_launch.png"); }
	#nav #f{	background-image: url("../images/ico_forum.png"); }
	#nav #b{	background-image: url("../images/ico_blog.png"); }
	#nav #w{	background-image: url("../images/ico_wiki.png"); }
	#nav #a{	background-image: url("../images/ico_about.png"); }
	#nav #r{	background-image: url("../images/ico_account.png"); }
	#nav #h, #nav #f, #nav #b, #nav #w, #nav #a, #nav #r{
		background-position: 8px 5px;
		background-repeat: no-repeat;
	}

	#nav a.l_ie{ 	border-right: 1px solid #bac2ae; }
	#nav a:hover{
		background-color: black;
		color: white;
		text-decoration: underline;
	}

	#cse-search-results{
		padding: 10px;	
		overflow: hidden;
	}

	#googlesearch{
		position: absolute;
		right:  5px;
		bottom: 5px;
		width: 300px;
	}

/*********************************************************
S5. Content Area
**********************************************************/

	#content{
		/*max-width: 940px;*/
		min-width: 750px;
		/*margin-left: 75px;*/
		padding: 1em 0em 1em 0em;
		font-size: 9pt;
		font-family: verdana;
		background-image: url("../images/rtbg.png");
		background-position: right 0;
		background-repeat: repeat-y;
		background-color: white;
	}


	/* Site About Box */
	#fa{
		color: #666666;
		text-align: justify;
		padding: .25em 1em .75em 1em;
		
	}
	#fac{
		margin: .5em 200px 1em 5em;

		background-color: white;
		border: 2px solid #dddddd;
	}
	#fa p{
		text-align: center;
		font-size: 9pt;
		line-height:1.5em;
		margin:0.5em 0;
	}
	#fa h2{
		font-size: 1em;
		font-family: verdana;
		font-weight: normal;
		display: inline;
		margin: 0px;
		padding: 0px;
	}

/*********************************************************
S6. Right Sidebar
**********************************************************/

	#rtside,
	.content-sidebar{
		float: right;
		margin-right:1em;
		margin-top: 1em;
		width: 235px;	
	}
	#rtside, #rtside p,
	.content-sidebar, 
	.content-sidebar-section p{	
		line-height: 1em; 
	}
	#rtside em,
	.sdsec em,	/* temporary */
	.content-sidebar-section em{
		color: #666666;
		font-style: normal;
		line-height: 1.3em;
	}
	#rtside h2,
	.sdsec h2,	/* temporary */
	.content-sidebar-section h2{
		text-align: left;
		color: #333333;
		font-size: 1.5em;
		border-bottom: 1px dotted #999;
		margin-bottom: .3em;
	}
	.sdsec,
	.content-sidebar-section{
		line-height: 1.3em;	
		margin-top: 1em;
	}
	.sdsec ul,
	.content-sidebar-section ul,
	.author-list,
	.categories-list{
		line-height: 1.3em;	
		list-style-type: none;
		padding-left: 0;
	}

	.content-sidebar-section .dimmed{
		color: #999999;
		font-weight: normal;
	}

	#social{
		text-align: center;
	}
	#social img{
		margin: .5em 0em 0em 0em;
	}

	#TagCloud, .tag_cloud,
	.tag-cloud{
		text-align: center;
		line-height: normal !important;
	}

	#TagCloud a, .tag_cloud a{ text-decoration: none;}


/*********************************************************
S7. Left Content Area
**********************************************************/

	/* Left Content */
	#lftside,
	.content-main{
		margin-right: 270px;
	}

	.content-tag-title{
		margin: 20px 40px 0px 64px;
		padding: 0px .25em;
		border-bottom: 2px dashed #aaaaaa;
		border-top: 2px dashed #aaaaaa;
	}

/*********************************************************
S8. Blog Post
**********************************************************/


	/*----------------------------------------------------
	S8A. Blog Post Layout 
	-----------------------------------------------------*/

	.bp, .bauthor, .lgform, 
	.post-area, 
	.author-page{ 
		margin: 1em 2em 2em 2em;
	}

	.post-navigation{
		margin: 0 auto;
		width: 95%;
		height: 16px;
	}
	.post-navigation-forward{
		float: right;
	}
	.post-navigation-forward a,
	.post-navigation-back a{
		color: #666666;
	}

	.ttl, .intro, .rm, .tagl, .evo_post_text, #bodyContent,
	.post-title-line, .post-tagline, .post-content
	{
		margin-left: 40px;
	}
	.intro, .evo_post_text,
	.post-content{
		padding-top: 0px;
		line-height: 1.3em;
		font-size: 1.1em;
	}
	.intro img{
		max-height: 240px;
		max-width: 200px;
	}
	.intro h1, .intro h2{
		font-size: 14pt !important;
	}
	.intro h3{
		font-size: 10pt !important;
		font-weight: bold !important;
	}

	.cnt,
	.post-views{
		float: left;
		background-image: url("../images/bbl_grn.png");
		background-repeat: no-repeat;
		text-align: center;
		width: 50px;
		height: 70px;
		margin-left: -1.5em;
	}
	.cnt .n,
	.post-views-count{
		font-size: 2.5em;
		font-family: times;
		padding-top: 9px;
		line-height: .9em;
		
	}
	.cnt .n a,
	.post-views-count a{
		text-decoration: none;
		color: #333333;
	}
	.cnt .l{
		font-size: .6em;
		display: none;
	}


	#pname{
		font-size: 14pt;
		margin-top: 0px;
	}
	#pname a{
		text-decoration: underline;
	}
	.bp h1, .bp h1 a, #pname a,
	a.post-title{
		font-size: 16.5pt;
		color: #333333;
		text-decoration: none;
	}
	.bp h1 a:hover, #pname a:hover,
	.post-title:hover{
		text-decoration: underline;
		color: #C04623;
	}

	.post-edit{
		float: right;
		padding-left: 16px;
		background-image: url('../images/edit.gif');
		background-repeat: no-repeat;
		height: 16px;
	}
	.ttl .byl, #actfrm li, .postbody .author,
	.post-byline{
		color: #6a755e;
	}
	.ttl .byl a,
	.post-byline a{
		color: #515847;
		text-decoration: underline;
	}
	.ttl .byl a:hover,
	.post-byline a:hover{
		text-decoration: none;
	}
	.bp a:hover{}
	.tagl,
	.post-tagline{
		margin-top: .6em;
		height: 22px; /* precent social icons from resizing area */
		overflow: hidden;
	}
	.socbtn /* future: .social-button */{
		margin-left: 10px;
		display: inline-block;
	}
	.rm /* future: ? */{
		margin-top: 4px;
		margin-left: 40px;
		display: block;
		width: 100px;
	}
	.author li{
		margin-left: 2em;
	}

	.instapaper_button /* future: .social-button-instapaper */{
		display: inline-block;
		font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 11px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		color: #444;
		background-color: #f8f8f8;
		border: 1px solid #aaa;
		padding: 0px 7px 1px 7px;
		min-width: 62px;
		text-align: center;
		vertical-align: top;
		text-decoration: none;
		margin-top: 2px;
		margin-right: 10px;
	}

	.instapaper_button:hover { 
		color: #fff;
		background-color: #626262;
		border-color: #626262;
		padding: 0px 7px 1px 7px;
		text-shadow: #3b3b3b 1px 1px 0px;
	}
				
	.instapaper_button:focus { outline: none; }

	.post-author{
		margin: 1em 0.5em 0.5em 40px;
	}

	.post-foot{
		margin: 1em .5em .5em 40px;
		background-color: #eeeeee;
		padding: .25em;
		border: 1px solid #dddddd;
	}

	.post-foot .post-tagline{
		margin: .5em .75em;
		font-size: .9em;
	}

	.post-foot label{
		width: 90px;
		font-weight: bold;
		display: inline-block;
	}

	.post-foot-views{
		float: right;
	}

	.post-foot-more-posts{}

	.post-list-navigation{
		text-align: center;
	}

	/*----------------------------------------------------
	S8B. Blog Post Content Formatting 
	-----------------------------------------------------*/

	.evo_post_text img,
	.post-content img{
		max-width: 940px;
	}

	.post-content h1, 
	.post-content h2{
		font-size: 14pt;
	}

	.post-content h3{
		font-size: 11pt;
		font-weight: bold;
	}

	.post-content p{
		margin: 1em 0;
	}

	/* Tables */
	.tables {
		border-collapse:collapse;
	}
	
	.tables td {
		border:1px solid black; 
		padding:2px;
	}

	.tables th {
		border:1px solid black; 
		background-color:#777; 
		color:white; 
		padding:2px;
	}

	/* Lists */
	.post-content ul{
		padding-left: 2em;
	}

	.post-content dl{
		border-bottom: 1px dashed #DDDDDD;
		border-top: 1px dashed #DDDDDD;
		font-size: 0.8em;
		line-height: 1.3em;
		margin: 1em 3em 1em 2em;
		padding: 2em 5em 2em 0;
	}

	.post-content dt{
		clear: left;
		float: left;
		font-weight: bold;
		text-align: right;
		width: 180px;
	}

	/* Attachments */
	.aligncenter{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.wp-caption{
		text-align: center;
		color: #666666;
		border: 1px solid #dddddd;
		padding: 10px 5px 5px 5px;	/* WP does ends up applying some extra width we have to offset */
		text-align: center;
	}

	.wp-caption-text{
		color: #666666;
		margin: 2px 0px 0px 0px !important;
	}

	/*----------------------------------------------------
	S8C. Blog Post Comments
	-----------------------------------------------------*/

	.comments-area{
		margin: 20px 0px 10px 40px;
	}

	.comment-respond{
		background-color: #FFFFFF;
		border: 1px solid #DDDDDD;
		margin: 1em 0;
		padding: 0 1ex;
	} 

	.comments-title{
		margin-bottom: 4px;
	}

	.comments-list,
	.comments-list .children{
		list-style-position: normal; 
		list-style-type: none;
	}

	.comments-list .children{
		margin-left: 20px;
	}

	.comment{
		background-color: #FFFFFF;
		border: 1px solid #DDDDDD;
		margin: 1em 0;
		padding: .5em;
	}

	.comment-author .avatar{
		float: left;
		margin: 0px 5px 5px 0;
		padding: 2px;
		border: 1px solid #AAAAAA;
	}

	.comment-meta{
		margin: 3px 5px 0 75px;
		border-top: 1px solid #888888;
		padding: 3px 0;

	}

	.comment-body .reply{
		text-align: right;
		padding-right: .5em;
		clear: left;
	}

	.comment-reply-title{

	}

	.comment-reply-title small{
		display: inline-block;
		margin-left: 2em;
		font-size: 80%;
	}

	.logged-in-as{
		margin-left: 20%;
	}

	.comment-respond label{
		float: left;
		font-weight: bold;
		padding: 0 1em 0 0 ;
		text-align: right;
		width: 18%;
	}

	.comment-respond textarea{
		background-color: #EEEEEE;
		border: 1px solid #CCCCCC;
		padding: 2px;
		width: 77%;
	}

	.form-allowed-tags{
		margin-left: 20%;
		padding-right: 10px;
	}

	.form-submit{
		text-align: right;
		padding-right: 10px;
	}


	/*----------------------------------------------------
	S8D. Blog Post Syntax Highlighting
	-----------------------------------------------------*/

	td.bwp-syntax-wrapper{}

	.bwp-syntax-wrapper .head{
		padding-left: .25em !important;	/* temporary override of overly specific CSS from better wordpress syntax CSS */
		color: #666666;
	}

/*********************************************************
S9. Author Page
**********************************************************/

	.author-page-posts{
		margin:	20px 0px 0px 0px;
		list-style-position: normal; 
		list-style-type: none;
	}

/*********************************************************
S9. Page Footer
**********************************************************/

	#page-footer{
		clear: both;
		/*margin-bottom: .5em;*/
	}
	#page-footer #botnav{
		text-align: center;
		background-color: #3e3e3e;
		text-align: center;
		padding: .5em 0;
		/*margin-left: 75px;
		max-width: 940px;*/
		min-width: 750px;
		color: white;
	}
	#botnav a{
		color: white;
		text-decoration: none;
		font-size: .9em;
		margin: 1em;
	}
	#botnav a:hover{
		text-decoration: underline;
	}

	#page-footer .validator{
		/*max-width: 940px;*/
		min-width: 750px;
		/*margin-left: 75px;*/
		background-color: white;
		padding: .35em 0em .5em 0em;
		text-align: center;
	}
	.validator a{ 	font-size: .8em; }

/*********************************************************
S10. Search Box
**********************************************************/

	#searchInput:hover {	/* from phpbb style - this was .inputbox:hover */
		border:1px solid #C04623;
	}
	#searchInput {		/* from phpbb style - this was something */
		background-image:url(../images/icon_textbox_search.gif);
		background-position:left 1px;
		background-repeat:no-repeat;
		font-size: 1em !important;
		background-color: #ffffff;
		vertical-align: middle;
		border:1px solid #d9e5c9;
		padding: 2px 2px 2px 17px;
	}
	#searchInput {	/* from phpbb style - this was input.inputbox */
		width:85%;
	}
	input.searchButton{
		background-image: url('../images/bg_button.gif');
		background-repeat: repeat-x;
		border: 1px solid #BCBCBC;
		margin-top: 4px;
		padding: 1px 6px 1px 6px;
		float: right;
		font-size: 1em;
	}

/*********************************************************
S11. Account Page
**********************************************************/

	.red{ color: red; font-weight: bold; }
	.help{ background-image: url("../images/help.png"); background-repeat: no-repeat; width: 24px; height: 24px; display: inline-block; margin-left: 5px; }
	.helpToolTip ul{	list-style-type: disc;	}
	.helpToolTip{
		background-color:#EaF2De;
		border: 1px dashed #6A755E;
		margin: .5em 1em;
		padding: 1em;
	}

	.lgform label{
		float: left;
		width: 10em;
		display: inline-block;
		text-align: right;
		margin-right: .5em;
	}
	.lgform textarea{
		width: 70%;
	}
	.lgform .indent{
		margin-left: 9.5em;
	}
	 .lgform .textarea_note{
		margin-left: 10.5em;
	 }
	.lgform label img{
		margin-right: 4px;
	}
	.lgform .innerform{
		margin-left: 1em;
		margin-bottom: 1em;
		border: 1px solid #dddddd;
		padding: 1em;
	}
	.fakeInput{
		width: 150px;
		display: inline-block;
		font-size: 1em !important;
		background-color: #ffffff;
		vertical-align: middle;
		border:1px solid #d9e5c9;
		padding: 2px;
	}
	.socInput{
		width: 200px;
	}

	.userInfo{
		border: 1px solid #dddddd;
		background-color: #eeeeee;
		padding: .5em;
		/* max-width: 650px; */
		line-height: 1.5em;
	}
	.bioPic{
		max-width: 80px;
		float: left;
		margin: .5em .5em .5em 0em;
	}
	.bioSoc{
		font-size: .8em;
		color: #999999;
		padding-top: .25em;
		margin-top: .25em;
		border-top: 1px dashed #cccccc;
	}
	.bioSocTitle{
		float: left;
		margin-right: .5em;
	}
	.bioSocLink{}
	.bioSocLink img{
		height: 30px;
		margin: 0px 2px;
	}

/*********************************************************
S12. 404 Page
**********************************************************/

	.content-404 #googlesearch{
		position: relative;
		right: auto;
		bottom: auto;
		width: 300px;
		display: inline-block;
	}

	.content-404 .post-content{
		line-height: 26px;
	}

/*********************************************************
S13. Debug
**********************************************************/

	#debug{
		background-color:black;
		color:white;
		opacity: 0.8;
		padding:20px;
		position:absolute;
		right:10px;
		top:50px;
		width:500px;
	}
	#debug h1{
		color: white;
		text-align: center;
		font-size: 14pt;
		margin-bottom: 3px;
	}
	#debug .entry{
		margin-bottom: 2px;
		border-bottom: 1px solid #333333;
		clear: both;
	}
	#debug .message{
		margin-left: 100px;
		display: block;
	}
	#debug .time{
		width: 100px;
		float: left;
	}
	#debug #toggle{
		width: 20px;
		cursor: pointer;
	}

/*********************************************************
S99. Misc Entries
**********************************************************/

	.ad a, .usefulllinks a, .ad a:link, .usefulllinks a:link
	{
		text-decoration: underline !important;
	}

	.icon-home 
	{ 
		background-image: url("../images/icon_home.gif");
		background-repeat: no-repeat;
		padding: 1px 0px 0px 17px; 
		background-position: 0px 50%; 
		margin: 0px; 
	}

	.footersocializer li
	{
		padding-bottom: 2px;
	}

	.messagesent p
	{
		color: green !important;
	}

	#botnav, .validator, #content, #ttl{
		/*border-left: 1px solid #666666;
		border-right: 1px solid #666666;*/
	}
	#ttl{
	/*	border-top: 1px solid #666666;
		margin-top: .5em;*/
	}
	.validator{
	/*	border-bottom: 1px solid #666666;*/
	}

	.breadcrumb 
	{
		margin: 1em;
	}

	.breadcrumb ul
	{
		list-style-type: none;
		padding-left: 0;
	}
